body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/6POhavZVRj0XiJXVjGU6nYuQeG4eT_57NjjdvMcVY7HVZ4LRNgvcz5QmHQb89sH2PxH6hn_enZsw0Z-Z1jx5irtsCpTyYxnYpsVumum1DhRFTw1Q6vxTNwTFABm5MuH4esQF_XgJaByWDx56veli7JhFe2iJdcZ-fJWXjsPEdO39FS05bIz7ENjIhDQsd4wFDzAXXNXJcvfduK9zJ7qf3uzc_v_mQRthHn3UaiMcYGCHkMaRnmuZRcyEexCv06NK3A3M7JoJtRiIaUB-drAHVAy4sqN5-D02jUQS8qwsktOlPDHBHWK7sGi1OYwLTJO3Q0yAUwe3IBDMKdtXwWR4eRVzIgdrLP_wF7q9A0TrvdNs2rEyaxKuiXBg8Kx6UrY_-TzqATbnAUTzNBnBYwdbEj-vIQuKt32A5SjcTkrt7a7vCq_e3kiWIrtxDs_66hl8rSeCi8yN1Fo5W9Dktn70rLLGk5SaDCHlageBvLizYibaVh4zCbD8b6osDbzUtWfIflXT4fx0-hVSEsLekxxNezlWczdnX8tuSF8Wh05zME-_RvzdXC4aawDBpA7QG6YfpiTRZgBzmzATSa589_c70ptCkYJLb2AFHjoba4XUJA=w1173-h1563-no);
  height: 450px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
  /*backgrond of background*/
}

.roasting p {
 	color: #364250;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /*enjoy! :) */
}

.spectrum div {
 	font-family: 'Vollkorn SC', serif;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
  /*5 headers*/
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
  /*5 headers paragraph text*/
}

/* Roast types */
.aDayInTheLife {
  background-color: RGB(167, 137, 139);
}

.meTime {
  background-color: RGB(202, 188, 179);
}

.musicTaste {
  background-color: RGB(202, 212, 203);
}

.bucketList {
  background-color: RGB(87, 106, 110);
}

.wishList {
  background-color: RGB(54, 66, 80);
}

h1 {
  color: #09504F;
	font-family: 'Macondo Swash Caps', cursive;
  font-size: 110px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 30%;
  /*my interest*/
}

h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  /*the end*/
}

h3 {
  color: #005751;
  font-family: 'Vollkorn SC', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  /*greetings and salutations*/
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: .1em;
  text-align: left;
  /*5 center of page headings*/
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  line-height: .1em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
  /*the end paragraph*/
}

a {
  color: RGB(188, 0, 67);
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
